.listing-inspect {
    display: grid;
    grid-template-rows: auto 1fr;
}

.listing-inspect__header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0 32px;
}

.listing-inspect__subheader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
