.listing-inspect {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}

.listing-inspect__header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 0 32px;
}

.listing-inspect__subheader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 16px;
}

.align-right {
    text-align: right;
    margin-bottom: 0;
    font-weight: 600;
}